*{
    margin: 0;
    padding: 0;
    
}
.categories{
    color: black;
      display: flex;
       margin-top: 30px;
  
   justify-content: center; 
   align-items: center;
   flex-direction: column;
   gap: 20px ;
      
}
.Top-cartegories{
    color: black;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 30px;
}

.categories-nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: lighter;
    font-size: x-large;
    
}
.categories-nav :hover{
    text-decoration: underline;
   text-decoration-color: blue;
   transform: scale(1.2);
}

/* CAR-CATEGORIES SECTION */


.Car-section{
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Car-section1{

    position: absolute
}

.RR-box{
    margin-top: 90px;
      
       width: 80vw;
       height: 45vh;
    display: flex;
    justify-content: space-between;
}

.RR-text{
    color: white;
       
    margin-top: 20px;
    margin-left: 40px;
    font-size: xx-large;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

.RR-text button{
    border-radius: 10px;
    background:transparent;
    color: white;
     font-size: 16px;   
     padding: 12px 30px;
    
}

.RR-text button:active {
    transform: scale(0.9);
}

.CAR-pics {

    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}


.car-card {
    width: 175px;
    background: #161c28;
    border-radius: 9px;
    overflow: hidden;
    flex-shrink: 0;
}


.car-image {
    width: 100%;
    height: 125px;
    object-fit: cover;
    display: block;
}


.car-details {
    height: 65px;
    padding: 8px 10px;
    box-sizing: border-box;
    color: white;
}


.car-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.car-name-price p {
    margin: 0;
    font-size: 14px;
}


.car-name-price p:last-child {
    font-weight: bold;
}


.car-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}


.car-description p {
    margin: 0;
    color: #aaa;
    font-size: 12px;
}


.car-description img {
    width: 16px;
    height: 16px;
}

.CAR-pics :hover{
     transform: scale(0.9);
}

@media (max-width: 900px) {

    .CAR-pics {
        grid-template-columns: repeat(2, 1fr);
    }

    .RR-box {
        flex-direction: column;
        height: auto;
    }
}